<form method="POST" action="/new">
  <label for="authorsName"></label>
  <input type="text" name="authorsName" id="authorsName" />
  <label for="message"></label>
  <input type="text" name="message" id="message" />
  <input type="submit" />
</form>
